.base {
    width: 2000px;
    height: 1000px;
    background-color: aqua;
    display: flex;
}
.inv1{height: ;

}
.quadradoa{ width: 400px;
height: 500px;
background-color: beige;
align-items: center;
justify-content: center;}