.base {
    width: 1000px;
    height: 800px;
    background: #179ed4;
    background: linear-gradient(90deg, rgba(23, 158, 212, 1) 100%, rgba(87, 199, 133, 1) 100%, rgba(237, 221, 83, 1) 100%);
    display: flex;
    justify-content: center;
    padding-top: 150px;
    border-radius: 20px;
}
.inv1{height: 350px;
width:100%;
}
.inv2{height: 350px;
    width: 100%;}

.quadradoa {
    width: 450px;
    height: 700px;
    background-color: beige;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
   padding: 10px;

}
input{width:420px; height:50px}

 .btn-primary{width: 400px;
height: 60px;
background-color: red;
margin: 18px;
padding: 3%;
padding-right:5% ;
justify-content: center;
display: flex;
align-items: center;
border-radius: 10px;}